<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load bootstrap5%}
    {%bootstrap_css%}
    {%bootstrap_javascript%}
</head>
<style>
    body{


        background-color: aliceblue;


    }


    .serif{
        font-family: 'Times New Roman', Times, serif;
    }


    h1{text-align: center;}
</style>
<body>
  <div class="container-fluid p-0">
    <nav class="navbar sticky-top navbar-expand-lg p-3" style="background-color: #1CB663;">
        <a class="navbar-brand" href="#"><b>
            <img src="pollo.png" alt="pollo" width="33" height="31" class="d-inline-block align-text-top"> JARDINERIA STARDEW</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Roggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cuenta</a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="login.html">Log in</a></li>
                          <li><a class="dropdown-item" href="form1.html">Sign in</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Cerrar sesion</a></li>
                      </ul>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tienda</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Información</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Acerca de</a></li>
                        <li><a class="dropdown-item" href="#">FAQ</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">EULA</a></li>
                        <li><a class="dropdown-item" href="#">Declaración de privacidad</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
</div>
        <div class="card text-bg-dark">
            <img src="v.jpg" class="card-img" alt="calmao" width="300" height="500">
            <div class="card-img-overlay">
              <h5 class="card-title">JARDINERIA de calidad </h5>
              <p class="card-text">Jardineria pa la casita</p>
              <p class="card-text"><small>Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Productos</h5>
          <p class="card-text">Revise nuestros productos. Tenemos desde flores hasta arboles</p>
          <a href="Plants.html" class="card-link">Ir a productos</a>
        </div>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Membresía</h5>
            <p class="card-text">¿Obsesión por las plantas? Te invitamos a ser miembro rellenando este formulario</p>
            <a href="form1.html" class="card-link">Inscribirse</a>
          </div>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link">Atrás</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Siguiente</a>
          </li>
        </ul>
      </nav>
   
</body>

</html>