<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> JARDINERIA STARDEW VALLEY IMPOSTOR </title>
    {%load bootstrap5%}
    {%bootstrap_css%}
    {%bootstrap_javascript%}
</head>
<style>
    h1 {text-align: center;}
</style>
<h1>JARDINERIA STARDEW VALLEY IMPOSTOR</h1>

<body>
    <div class="container-sm">
        <div class="row">
            <form>
                <div class="mb-3">
                    <label form="email" class="form-label">INGRESE EMAIL</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label form="password" class="form-label">INGRESE CONTRASEÑA</label>
                    <input type="password" class="form-control" id="password" aria-describedby="passwordHelp">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">RECORDAR EMAIL Y CONTRASEÑA</label>
                </div>
                <button type="submit" class="btn btn-primary">INGRESAR</button>
            </form>
        </div>
    </div>
   
</body>
</html>
